* {
    /* 上下左右の空白を消すため */
    margin:0;
    padding:0;
} 

html, body {
    /* ページサイズを表示サイズに固定するため */
    width:100%;
    height:100%;
} 

canvas {
    /* スクロールバーをなくすためらしい */
    display:block;
}
